

<a href="{% url 'main' %}" class="logo"></a>
<ul class="menu">
    <li>
        <a href="{% url 'main' %}" class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}">
            домой
        </a>
    </li>
    <li>
        <a href="{% url 'main' %}" class="{% if request.resolver_match.namespace == 'main' %}active{% endif %}">
            продукты
        </a>
    </li>
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">Пользователь:
                {{ user.first_name|default:'Пользователь' }}
            </a>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'hist' %}" class="{% if request.resolver_match.namespace == 'hist' %}active{% endif %}">
            история
        </a>
    </li>

    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
        {% endif %}
    </li>



<li><a href="#" class="search"></a></li>


    </ul>