{% if ans.list_hist %}
<div class="clr"></div>
         <p>
             <table class="tab_cl1">
            {% for rowval in ans.list_hist %}
                <tr>
                {% for val in rowval %}

                    {% if forloop.counter != 1 %}
                        <td>{{val}}</td>
                    {% endif %}

                {% endfor %}
                </tr>
                {% for rp_row in ans.rep_hist %}
                    {% if rowval.0 == rp_row.0 %}
                     <tr>
                         {% for rp in rp_row %}
                            {% if forloop.counter != 1 %}
                                <td colspan="5">{{rp}}</td>
                            {% endif %}
                         {% endfor %}
                     </tr>
                    {% endif %}
                {% endfor %}

                <tr><td colspan="5">&nbsp;</td></tr>
            {% endfor %}
            </table>




        </p>

<div class="clr"></div>
    {% endif %}

{% if ans.paging %}
    <p>
    {% for i_page in ans.paging.pages %}
        <a href="{% url 'hist' i_page %}" style="text-decoration: none; color: #cc1111">
                    <button class="button button2">Стр. {{i_page}}</button>
        </a>
        &nbsp;
    {% endfor %}
    </p>
{% endif %}

{% if ans.clr_but %}
  <button class="button-order">
    <a href="{% url 'clear_hist' %}" style="text-decoration: none; color: #cc1111">
      Очистить
    </a>
  </button>
<div class="clr"></div>
{% endif %}