{% extends 'mainapp/base.html' %}
{% load static %}

{% block script %}
<script>

window.onload = function() // дожидаемся загрузки страницы
{

     initializeTimer(); // вызываем функцию инициализации таймера
}

function initializeTimer() {
	var seconds = 0;
	var ti = 0;

	var minutes = 0; //seconds/60; // определяем количество минут до истечения таймера
	var hours = 0; // определяем количество часов до истечения таймера

	setTimePage(ti,hours,minutes,seconds); // выставляем начальные значения таймера

	function tick() {
	    if (ti == 0) {
            seconds++
            if (seconds > 59) {
                minutes++
                seconds = 0
            }
            if (minutes > 59) {
                hours++
                minutes = 0
            }

            setTimePage(ti,hours, minutes, seconds); // обновляем значения таймера на странице
            ti = 1;
        }
	    else {
	        setTimePage(ti,hours, minutes, seconds); // обновляем значения таймера на странице
            ti=0;
        }
	}

	timerId = setInterval(tick, 500) // устанавливаем вызов функции через каждую секунд

}

function setTimePage(ti,h,m,s) { // функция выставления таймера на странице
	var element = document.getElementById("timer"); // находим элемент с id = timer
    if (m<10){
		     minutes_str = m.toString()
             minutes_str='0'+minutes_str
         }
    else{
        minutes_str=m;
    }

    if (s<10){
		     sec_str = s.toString()
             sec_str='0'+sec_str
         }
    else{
        sec_str = s
    }
    if (ti==0){
        element.innerHTML = "Время "+minutes_str+" "+sec_str; // выставляем новые значения таймеру на странице
    }
    else{
        element.innerHTML = "Время "+minutes_str+":"+sec_str; // выставляем новые значения таймеру на странице
    }

}

function tstamp1() {
    var ts = new Date();
   var hours = ts.getMinutes();
    var secs = ts.getSeconds();
   document.getElementById("ts").value = hours+' '+secs;

    console.log(ts); // 23
    console.log(hours); // 23

    console.log(secs); // 23
    return true;
}

function tstamp2() {
    var ts = new Date();
    var mon = ts.getMonth()+1;
    var date = ts.getDate()+'/'+mon+'/'+ts.getFullYear();
    var hours = ts.getHours();
    var mins = ts.getMinutes();
    var secs = ts.getSeconds();
    document.getElementById("ts1").value = date+'/'+hours+'/'+mins+'/'+secs;

    console.log(ts); // 23
    console.log(hours); // 23

    console.log(secs); // 23
    return true;
}

</script>

</head>
<body>

<p id="timer"> </p>


{% endblock %}


{% block menu %}
   <div class="header clearfix">
                {% include 'mainapp/includes/inc_menu.html' %}
    </div>

{% endblock %}

{% block content %}


         <p>
             <table class="tab_cl1">
                <tr>
                    <td>{{qst.txt1}}</td>
                </tr>
                <tr>
                    <td style="font-size : 28px; color: orangered;">{{qst.txt2}}</td>
                </tr>
            </table>
         </p>

<p class="clr"></p>

  <form class="form-horizontal" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.as_p }}
      <input type="hidden" name="tstamp" id="ts" value="null1"/>
    <input class="button-order" type="submit" value="ответить" onclick="tstamp1();"/>
  </form>
<div class="clr"></div>
  <form class="form-horizontal" method="post" enctype="multipart/form-data" >
       {% csrf_token %}
      <input type="hidden" name="tstamp1" id="ts1" value="null1"/>
      <input class="button button5" type="submit" value="завершить!" onclick="tstamp2();"/>
  </form>

{% endblock %}